* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;

  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: #ef0107;
}

footer {
  padding: 20px;
  color: white;
  background-color: #ef0107;

  text-align: center;
  font-weight: bold;
}

nav a {
  font-size: 18px;

  font-weight: 400;
  text-decoration: none;

  color: white;
}

nav a:hover {
  font-weight: bold;
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile img {
  max-width: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  padding: 20px;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

nav li {
  list-style-type: none;
}

nav {
  background-color: #ef0107;
  padding: 5px 0;

  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  width: 60px;
  display: block;
}
main {
  padding: 20px;

  display: flex;
  gap: 1.5rem;
}

#content {
  flex: 5;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

aside {
  flex: 2;
}

header {
  display: inline;
}

/* Perangkat dengan lebar layar 1200px dan di bawahnya */
@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }
}

/* Perangkat dengan lebar layar 768px dan di bawahnya */
@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }

  main aside {
    align-self: stretch;
  }
}
footer a {
  color: white;
}

.top-score-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 16px;
  border-radius: 12px;
}

.top-score-table th,
.top-score-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.top-score-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.top-score-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.top-score-table th:first-child,
.top-score-table td:first-child,
.top-score-table th:last-child,
.top-score-table td:last-child {
  text-align: center;
}
